<!-- Row for small graph trends -->

<ion-content>
<ion-grid>
<ion-row id="stats" class="ion-padding">
  <ion-col>
    <ion-card>
      <ion-card-header>Mood</ion-card-header>
      <ion-card-content>
        <ion-img src="assets/img/mood7.png"></ion-img>
      </ion-card-content>
    </ion-card>
  <ion-card class="ion-padding">
    <ion-item *ngFor="let msg of msgs" >
      <ion-text font-weight="700" >
      {{msg.msgm}}
    </ion-text>
      </ion-item>
      <ion-button (click)="nextpage()">
        More Resources for Mood 
           </ion-button>
  </ion-card>
</ion-col>
</ion-row>

<ion-row id="stats" class="ion-padding">
  <ion-col>
    <ion-card>
      <ion-card-header>Activity</ion-card-header>
      <ion-card-content>
        <ion-img src="assets/img/activity7.png"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card font-weight="700" class="ion-padding">
      <ion-item *ngFor="let msg of msgs" >
        <ion-text font-weight="700" >
          <h1>{{msg.msgw}}</h1>
          <h1>{{msg.predmsgw}}</h1>
        </ion-text>
          </ion-item>
      <ion-item *ngFor="let reco of recomsW" >
        {{reco.NHS}}
        </ion-item> 
        <ion-button (click)="nextpage()">
          More Resources for Activity
             </ion-button>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row  id="stats" class="ion-padding">
  <ion-col>
    <ion-card>
      <ion-card-header>Sleep </ion-card-header>
      <ion-card-content>
        <ion-img src="assets/img/sleep7.png"></ion-img>
      </ion-card-content>
    </ion-card>
  <ion-card class="ion-padding">
    <ion-item *ngFor="let msg of msgs" >
      <ion-text font-weight="700" >
        <h1>{{msg.msgsl}}</h1>
        <h1>{{msg.predmsgs}}</h1>
      </ion-text>
        </ion-item>
    <ion-item *ngFor="let rec of recomsS" >
      {{rec.NHS}}
      </ion-item> 
      <ion-button (click)="nextpage()">
        More Resources for Sleep
           </ion-button>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>