ion-button {
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
}

ion-card{
    --ion-text-color: #5764c7;
}

ion-content, ion-grid{
    height: 100%;
    width: 100%;
    --background: var(--ion-color-tertiary);
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.scroll-content {
    overflow-y: hidden;
  }
  .card-background-page {
    .buttons {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(2, 1fr);
      height: calc(100vh - 55px); // i've added this number of pxls, but you can inspect and get the exact amount of the tab footer
    }
    ion-card {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      background-color: transparent;

      img {
        width: 80%;
      }
     
    }
  }