<ion-header [translucent]="true" class="ion-padding">
  <ion-toolbar>
    <ion-title>
      Hi <? php $row["firstname"] $row["lastname"] ?>!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- Mood , Have multiple style questions  -->
  <ion-card height="100%" class="ion-padding">
    HOW ARE YOU FEELING TODAY? 
  </ion-card>

<!-- Grid arrangement for emotion input, recommendation and stat overview -->
  <ion-grid>
    <!-- Row for emotion - button directs to journal entry , gives suggestion-->
    <ion-row height="100%" id="emotion" class="ion-padding" >
      
      <ion-col>
        <ion-button name="emot" value="happy" (click)= "mood()" color="success">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button name="emot" value="ok" (click)= "mood()" color="warning">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button name="emot" value="sad" (click)= "mood()" color="danger">
          <ion-icon name="sad-outline"></ion-icon> 
        </ion-button>
      </ion-col>
    </ion-row>
    
    <!-- Recommendation -->
      <ion-card class="ion-padding">
        DAILY RECOMMENDATION: 
      </ion-card>

      <!-- Row for small graph trends -->
      <ion-row >
        <ion-col id="stats" class="ion-padding">
          <ion-card>
            <ion-card-header>This Week's Mood </ion-card-header>
            <ion-card-content>
              <canvas #barCanvas ></canvas>
            </ion-card-content>
          </ion-card>
           <ion-card class="ion-padding">
          How do you feel! Click to see more about your mood.
        </ion-card>
        </ion-col>
      </ion-row>

     <!-- POINT -->
     <ion-card class="ion-padding">
       YOU HAVE GOT: ? php $row="points"  POINTS! KEEP IT UP.
       <br><br>This is how you're doing:
    </ion-card>

    <ion-row>
    <ion-col id="stats" class="ion-padding">
      <ion-card >
        <ion-card-header> This Week's Points </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas ></canvas>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-padding">
        Click to see what your points can get you!
      </ion-card>
    </ion-col>
  </ion-row>

  </ion-grid>
</ion-content>

<python>

</python>