<ion-header  class="ion-padding">
  <ion-toolbar>
    <ion-title>
      Here are today's resources:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row >

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header> Helpful Videos </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row >
    <ion-col>
      <ion-card>
        <ion-card-header> Helpful Articles </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>