<ion-header [translucent]="true" class="ion-padding">
  <ion-toolbar>
    <ion-title>
      Hi <? php $row["firstname"] $row["lastname"] ?>!
      <br>
      Here are today's resources:
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header> Helpful Videos </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row >
    <ion-col>
      <ion-card>
        <ion-card-header> Helpful Articles </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row >
    <ion-col>
      <ion-card>
        <ion-card-header> Todays Discussions </ion-card-header>
        <ion-card-content>
          Click to go to this discussion
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>